<ul class="nav flex-column text-center">
  <li class="nav-item">
    <a class="nav-link" href="/definition">
      <h5><i class="bi bi-collection-fill"></i> Definitions</h5>
    </a>
  </li>
  <li>
    <hr class="hr">
  </li>
</ul>

<ul id="sidebarNotes" class="nav flex-column">
</ul>

<ul class="nav flex-column">
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <form style="display:inline;" action="/note/add" method="post">
        <input class="form-control" type="text" placeholder="New note..." name="name">
      </form>
    </a>
  </li>
</ul>

<script src="/js/sidebar.js"></script>
