<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit definition</h1>
</div>

<form>
  <div class="form-group">
    <label for="definitionName">Name</label>
    <input type="text" class="form-control" id="definitionName" name="name" value="<%= def.name %>">
  </div>
  <div class="form-group">
    <label for="definitionText">Text</label>
    <textarea class="form-control" id="definitionText" rows="5" name="text"><%= def.text %></textarea>
  </div>
  <button type="submit" formmethod="post" class="btn btn-primary">Save</button>
</form>
